.rZYvse9I{display:grid;grid-template-columns:repeat(1, 1fr);row-gap:26px;column-gap:16px}@media(min-width: 768px){.rZYvse9I{grid-template-columns:repeat(2, 1fr)}}@media(min-width: 992px){.rZYvse9I{grid-template-columns:repeat(3, 1fr)}}
._NbietV6{max-width:400px;position:relative;display:flex;flex-wrap:nowrap;gap:12px;flex-direction:column;align-items:flex-start;padding:24px 24px 16px 24px;background-color:#d3d3d3}._NbietV6:hover{box-shadow:0 2px 4px rgba(40,41,61,.04),0 8px 16px rgba(96,97,112,.16)}._NbietV6:focus-within{box-shadow:0 0 1px rgba(40,41,61,.16),0 .5px 2px rgba(96,97,112,.24)}.wUOyoNBv{position:relative;width:100%}.wUOyoNBv .Qn3nCeFG{position:absolute;top:10px;background-color:var(--color-white);color:var(--color-black);border-radius:20px;font-size:16px}.wUOyoNBv .aYIfciKw{left:10px;padding:8px 12px;font-weight:400}.wUOyoNBv .O_72qjrW{right:10px;padding:8px 8px;font-weight:600}.R_LbjZVD{width:100%;object-fit:cover;aspect-ratio:1/1}.utnogiow{height:98px;width:104px;flex-shrink:0;flex-grow:0}.KrDoTtZs{width:100%;display:flex;justify-content:space-between}.KrDoTtZs .fhyT7OGg{text-decoration:none;color:inherit;font-size:inherit;display:flex;gap:8px;align-items:center}.KrDoTtZs .fhyT7OGg .xO8YnoT6{font-size:inherit}.KrDoTtZs .mOiEikCM{background:none;color:inherit;border:none;padding:0;outline:inherit;cursor:pointer}.KrDoTtZs .mOiEikCM svg path{stroke:#000}.UUD9q20t{font-size:16px;line-height:1.25}.SIY0OXgG{display:block}
.tD7imyOV{min-width:max-content;display:flex;gap:8px}.tD7imyOV .xPaY2azb{width:16px;height:16px}
.jUWGaDwy input:-webkit-autofill,.jUWGaDwy input:-webkit-autofill:hover,.jUWGaDwy input:-webkit-autofill:focus,.jUWGaDwy input:-webkit-autofill:active{transition:background-color 5000s ease-in-out 0s;-webkit-box-shadow:0 0 0 30px #fff inset !important;background-color:#fff !important;color:#212529}.jUWGaDwy{display:flex;flex-direction:column;row-gap:32px;align-items:flex-start}.ia9AAST4{width:343px}.GeMeTHq8{font-family:"Inter",sans-serif;font-size:14px;text-decoration:underline;border:none;cursor:pointer}
.yXmhqWQI{width:100%;display:flex;align-items:center;justify-content:center;flex-direction:column}
.rYhfvpt6{font-family:"Inter",sans-serif;flex-direction:column;display:flex;background:#d3d3d3 50%/cover no-repeat;width:100%;padding:32px 16px}.iB0GkXer{display:flex;flex-direction:column;row-gap:12px;margin-top:70px;margin-bottom:104px}.L4ZjKE7U{font-size:24px;line-height:30px;font-weight:500;margin:0}.On4HWmRv{font-size:14px;font-weight:400;line-height:18px;margin:0}.Zdd5cy7u{font-size:20px;margin-bottom:12px}
.MdIjqa6_{display:flex;align-items:center;position:relative;flex:1}.jIuuUiVf{width:100%;border-radius:24px;border:1px solid rgba(0,0,0,0);outline:none;padding:13px 60px 13px 40px;color:#000;font-size:16px;line-height:20px;caret-color:var(--background-color-blue)}.jIuuUiVf:focus{background:var(--color-white);border:1px solid var(--background-color-blue)}.jIuuUiVf::placeholder{color:var(--color-gray)}.eYPwWFFL{background-color:rgba(0,0,0,0);outline:none;border:none;padding:0;cursor:pointer;position:absolute;display:flex}.cxxgUvMa{right:20px}.eYPwWFFL svg{fill:var(--color-gray)}.eYPwWFFL:focus svg{fill:var(--background-color-blue)}.eYPwWFFL:hover svg{fill:var(--background-color-blue)}@media(min-width: 350px){.RrmkcNTP{max-width:400px}}
.FZvbcT4F{display:flex;flex-direction:column;height:100%}
.CSh7VaDT{font-size:32px;line-height:1.5;font-weight:800;margin-bottom:20px;margin:0}.l1ugcI25{color:#7b8e98;font-weight:400;font-size:14px;line-height:20px;text-decoration:0;margin-bottom:4px;display:flex;align-items:center}.ctTkRzUl{fill:currentColor}
.AKwhtcJ1{display:flex;flex-direction:column;height:100%}
.f6zpwqsx{object-fit:cover;width:100%}.y7ovDucB{width:100%;margin-bottom:24px}.F7JOI_v4{font-size:20px;margin-bottom:12px}
.dkAAptZf{fill:#ffaa0d}.zWT1xUvx{cursor:pointer}
.fgjflZ77{display:flex;flex-direction:column;gap:4px;padding-bottom:20px;border:1px solid var(--color-gray);width:100%;border-radius:4px;padding:10px}.fgjflZ77:last-child{border-bottom:none}.ZWja5wc4{font-style:normal;font-weight:800;font-size:16px;line-height:20px;color:#1a1a1a}.yT2k97UN{font-weight:400;font-size:14px;line-height:20px;color:#7b8e98}.SveuhOT9{font-style:normal;font-weight:400;font-size:12px;line-height:14px;color:#7b8e98}.Sq7WahbD{margin-top:8px;font-style:normal;font-weight:400;font-size:14px;line-height:20px;color:#1a1a1a;margin-bottom:0}.xMCrVAV9{display:flex;align-items:flex-end;gap:8px}
.TQlCZF6H{display:flex;flex-direction:column;gap:16px;width:100%}
.GkqGp8xm{font-size:20px;line-height:24px}
.emjMx5nB{width:100%;height:600px}
.aCPZGTaI{width:100%;display:flex;align-items:center;justify-content:center;flex-direction:column}
.loader{top:50%;left:50%;z-index:100}.loader .loader-wrapper{display:flex;flex-direction:column;overflow-x:hidden}.loader .loader-wrapper .clouds{display:flex;position:relative;height:24px;align-items:end;justify-content:end}.loader .loader-wrapper .clouds .cloud-1{position:absolute;top:-2px;right:-20px;align-self:flex-end;animation:cloud 3s linear infinite;z-index:101}.loader .loader-wrapper .clouds .cloud-2{position:absolute;top:2px;right:-20px;align-self:flex-end;animation:cloud 3s linear infinite;animation-delay:1.5s;z-index:101}.loader .loader-wrapper .loading-text{text-align:center;font-size:20px}@keyframes shake{0%{transform:translateY(-1%)}100%{transform:translateY(3%)}}@keyframes line{0%{stroke-dashoffset:22}25%{stroke-dashoffset:22}50%{stroke-dashoffset:0}51%{stroke-dashoffset:0}80%{stroke-dashoffset:-22}100%{stroke-dashoffset:-22}}@keyframes cloud{0%{transform:translateX(0)}100%{transform:translateX(-120px)}}
.JhhcHpca{display:flex;flex-direction:column;align-items:center;justify-content:center;height:100%}.NBNE9yms{font-weight:700;font-size:32px;line-height:1.2}.xy0FiEGI{width:180px;height:180px;object-fit:contain}.xy0FiEGI path{fill:gray}
.XqwUAEIl{display:flex;flex-direction:column;align-items:center}
.UOPDcjAQ{padding:32px 0;width:343px}.jjxFu0Yr,.RdWz7Hdb,.qjrxudmC,.qdHlRLB4{font-family:"Inter",sans-serif;margin:0}.jjxFu0Yr{font-size:24px;font-weight:500}.jjxFu0Yr,.qdHlRLB4{padding-bottom:12px}.qjrxudmC{font-size:14px;padding-top:12px}.qdHlRLB4{font-size:14px;font-weight:400}
.XmOTnN6n{font-family:"Inter",sans-serif;font-size:14px;font-weight:400;text-decoration:underline;color:var(--color-black);cursor:pointer}
.Huuydys1{font-family:"Inter",sans-serif;font-size:14px;color:var(--color-input);border-radius:20px;border:1px solid rgba(0,0,0,.4);background:var(--color-white);padding:14px 0 13px 20px}
.tcRQB_Lb{width:100%;height:43px;background-color:var(--color-black);border-radius:20px;border:1px solid rgba(0,0,0,.4);font-family:"Inter",sans-serif;font-size:14px;font-weight:400}
.w0GVDPsi{width:100%;text-align:center;color:var(--color-red);font-size:20px;font-weight:600;background-color:rgba(0,0,0,0);border:none;padding:0}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

:root {
  /* colors */
  --color-white: #FFFFFF;
  --color-black: #000;
  --background-color-blue: #171f42;
  --color-gray: #7b8e98;
  --button-hover-color: #2980b9;
  --color-star: #ffe700;
  --grey-color: #BEBEBE;
  --color-input: #00000066;
  --color-red: #b30000;

  /* containers */
  --container-padding: 20px;
  --content-padding: 10px;
}
*,*::after,*::before{box-sizing:inherit}html{box-sizing:border-box;height:100%;min-width:375px}body{background-color:var(--color-white);height:100%;min-width:375px}#root{display:flex;flex-direction:column;height:100%}h1,h2,h3,h4,h5,p{margin:0}.container{max-width:1000px;width:100%;margin:0 auto;padding-left:var(--container-padding);padding-right:var(--container-padding);width:calc(100% - 2*(var(--container-padding)))}.content{padding:var(--content-padding) 0}main{flex:1}.content-section{width:100%}[class*=copyrights-pane]{display:none !important}.map{width:80vw;height:400px;background-color:#7b8e98}#mapId{width:100%;height:600px}#mapId .mapIcon{border-radius:10px;border:5px solid #fff}#mapId .balloon-image{max-width:300px;display:block}@media(min-width: 760px){.container{padding-left:calc(var(--container-padding)*2);padding-right:calc(var(--container-padding)*2);width:calc(100% - 4*(var(--container-padding)))}.content{padding:calc(var(--content-padding)*2) 0}}
.sL22ySrC{text-decoration:none}.sL22ySrC .kqxmnxGG{color:var(--color-white);min-width:85px}.sL22ySrC h2{margin:0;padding:10px}
.vAARJqC0{background-color:var(--background-color-blue)}.fZS8Qvbs{display:flex;flex-wrap:wrap;align-items:center;justify-content:center}
.KoJz8a9Q{position:sticky;left:0;bottom:0;max-width:100vw}.R7CeInbO{background-color:#fff;box-shadow:0 2px 10px 0 rgba(0,0,0,.12)}.mCvw8El5{display:grid;grid-template-columns:repeat(4, 1fr);justify-items:center;padding:16px}.zKeqXnBJ svg path{stroke:var(--color-black)}
