.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__loader {
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow-y: hidden;
  }
}

.main {
  padding-bottom: 65px;
  background-color: var(--background-02);
}