.review {
	display: flex;
	flex-direction: column;
	gap: 4px;
	border: 1px solid var(--color-gray);
	width: 100%;
	border-radius: 4px;
	padding: 10px 10px 20px 10px;

	&__name {
		font-style: normal;
		font-weight: 800;
		font-size: 16px;
		line-height: 20px;
		color: var(--color-black);
	}
	
	&__date {
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: var(--color-gray);
	}
	
	&__content {
		margin-top: 8px;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: var(--color-black);
		margin-bottom: 0;
	}
}


