.form__input {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: var(--color-input);
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.40);
  background: var(--color-white);
  padding: 14px 0 13px 20px;
}