.field {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 20px;

  &_title {
    font-weight: 500;
  }

  &__input {
    border-radius: 10px;
    border: 1px solid var(--text-03);
    color: var(--text-03);
    background: var(--background-02);
    padding: 12px;
    font-weight: 600;
  }
}