.settings,
.settings__fields {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.settings {
  &__title {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-01);
  }

  &__fields__buttons {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}