@import "~normalize.css";
@import url("variables.scss");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&family=Raleway:wght@400;500&display=swap");

*,
*::after,
*::before {
  box-sizing: inherit;
};

html {
    box-sizing: border-box;
    height: 100%;
    min-width: 375px;
};

body {
    background-color: var(--color-white);
    height: 100%;
    min-width: 375px;
};

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
};

main {
    display: flex;
    flex-direction: column;
    flex: 1;
};

h1, h2, h3, h4, h5 {
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
};

p, span {
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    width: calc(100% - 2*(var(--container-padding)));
};

.content {
    padding: var(--content-padding) 0;
};

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px 16px 0 16px;
    margin: 0 auto;
};

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(62, 62, 62, 0.50);
    backdrop-filter: blur(2px);
    z-index: 99;
}

.content-section {
    width: 100%;
}

[class*="copyrights-pane"] {
    display: none !important;
};

.map {
    width: 80vw;
    height: 400px;
    background-color: #7B8E98;
};

#mapId {
    width: 100%;
    height: 100%;

    .mapIcon {
        border-radius: 10px;
        border: 5px solid var(--color-white);
    }

    .balloon-image {
        max-width: 300px;
        display: block;
    }
};

.myList {
    background-color: var(--background-04);
    height: 100%;
}

.buttons__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}

.buttons__link {
    display: block;
    width: 100%;
    height: 50px;

    .button {
        width: 100%;
        border: none;
        max-height: 50px;
        background-color: transparent;

        &_green {
            height: inherit;
            color: var(--text-02);
            background-color: var(--background-06);
        }

        &_white {
            color: var(--text-01);
            border: 1px solid var(--background-01);
            background: var(--background-02);
        }
    }
}

.button:disabled {
    background-color: rgba(0, 0, 0, 0.04);
    color: rgba(0, 0, 0, 0.25);
    border: 1px solid var(--button-disabled-color);
    border-radius: 10px;
    height: 50px;
}

.button_green,
.button_white,
.form__button {
    padding: 14px 32px;
    border-radius: 10px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: auto;
    width: 100%;
}

.form__button {
    color: var(--text-02);
    background-color: var(--background-06);
    max-height: 50px;
}

// кастомизирует Input из antd
.custom__antd__item {
    width: 100%;
    margin-bottom: 0;
    background-color: var(--background-02);
}

:where(.css-dev-only-do-not-override-1sn0ohr).ant-input-affix-wrapper > input.ant-input {
    background-color: var(--background-02);
}

.ant-btn-default {
    box-shadow: none;
}

.preloader-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.disable-scroll {
    overflow-y: hidden;
}

@media (min-width: 760px) {
    .container {
        padding-left: calc(var(--container-padding) * 2);
        padding-right: calc(var(--container-padding) * 2);
        width: calc(100% - 4*(var(--container-padding)));
    }

    .content {
        padding: calc(var(--content-padding) * 2) 0;
    }

    .wrapper {
        width: 500px;
    }

    .buttons__link {
        text-align: center;
    }

    .button {
        max-width: 500px;
    }
}