@import "~normalize.css";
@import url("variables.scss");

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;
    min-width: 375px;
}

body {
    background-color: #ececec;
    height: 100%;
    min-width: 375px;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    width: calc(100% - 2*(var(--container-padding)));
}
.content {
    padding: var(--content-padding) 0;
}
main {
    flex: 1;
}

[class*="copyrights-pane"] {
    display: none !important;
}

.map {
    width: 80vw;
    height: 400px;
    background-color: #7B8E98;
}

#mapId {

    width: 100%;
    height: 600px;

    .mapIcon {
        border-radius: 10px;
        border: 5px solid #ffffff;
    }

    .balloon-image {
        max-width: 300px;
        display: block;
    }
}

.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 760px) {
    .container {
        padding-left: calc(var(--container-padding) * 2);
        padding-right: calc(var(--container-padding) * 2);
        width: calc(100% - 4*(var(--container-padding)));
    }
    .content {
        padding: calc(var(--content-padding) * 2) 0;
    }
}