:root {
  /* colors */
  --color-white: #FFFFFF;
  --color-black: #000;
  --background-color-blue: #171f42;
  --color-gray: #7b8e98;
  --button-hover-color: #2980b9;
  --color-star: #ffe700;
  --grey-color: #BEBEBE;
  --color-input: #00000066;
  --color-red: #b30000;
}