:root {
  /* colors */
  --color-white: #FFFFFF;
  --color-black: #000;
  --background-color-blue: #171f42;
  --color-gray: #7b8e98;
  --button-hover-color: #2980b9;
  --color-star: #ffe700;
  --grey-color: #BEBEBE;
  --color-input: #00000066;
  --color-red: #b30000;
  --color-light-grey: #E0E0E0;
  --color-dark-grey: #828282; 
  --text-01: #202020;
  --text-02: #FBFBFB;
  --background-02: #FBFBFB;
  --background-04: #F4F4F4;
  --background-06: #0EA7A5;
  --background-07: #126362;
  --background-tag: #CFEDED;
  --gradient-01: linear-gradient(180deg, #0EB3B1 0%, #0BAAA8 100%);
  --color-input-grey: #F2F2F2;
  --menu-icon: #126362;
  --text-03: #B1B1B1;

  /* containers */
  --container-padding: 16px;
  --content-padding: 0;


}