.title {
    font-size: 32px;
    line-height: 1.5;
    font-weight: 800;
    margin-bottom: 20px;
    margin: 0;
}

.buttonBack {
    color: #7B8E98;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: 0;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.iconBack {
    fill: currentColor;
}