.loader {
    height: auto;
    top: 50%;
    left: 50%;
    width: 120px;
    margin: 0 auto;

    svg path {
        stroke: var(--background-color-blue);
    }

    .loader-wrapper {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;

        .clouds {
            display: flex;
            position: relative;
            height: 24px;
            align-items: end;
            justify-content: end;

            .cloud-1,
            .cloud-2 {
                position: absolute;
                right: -20px;
                align-self: flex-end;
                animation: cloud 3s linear infinite;
            }

            .cloud-1 {
                top: -2px;
            }

            .cloud-2 {
                top: 2px;
                animation-delay: 1.5s;
            }            
        }
        
        .loading-text {
            text-align: center;
            font-size: 20px;
            color: var(--background-color-blue);
        }
    }
}

@keyframes shake {
    0% {
        transform: translateY(-1%);
    }

    100% {
        transform: translateY(3%);
    }
}

@keyframes line {
    0% {
        stroke-dashoffset: 22;
    }

    25% {
        stroke-dashoffset: 22;
    }

    50% {
        stroke-dashoffset: 0;
    }

    51% {
        stroke-dashoffset: 0;
    }

    80% {
        stroke-dashoffset: -22;
    }

    100% {
        stroke-dashoffset: -22;
    }
}

 
@keyframes cloud {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-120px);
	}
}