.auth {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;

  &__title {
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
  }

  &__text {
    font-weight: 400;
  }
};

.auth__text,
.forgotPassword {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-03);
}

.forgotPassword {
  font-weight: 500;
  text-decoration-line: underline;
  align-self: end;
}

@media (min-width: 760px) {
  .auth {
    max-width: 500px;
  }
};