.questionCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;

  &__text {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0 20px;
    align-self: center;
  }

  &__image {
    width: 288px;
    height: 288px;
    border-radius: 30px;
    position: relative;
  }

  &__dislike,
  &__like {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    background: var(--background-02);
    box-shadow: 0 0 9px 0 rgba(90, 90, 90, 0.20);
    padding: 8px;
    cursor: pointer;
  }

  &__btns {
    display: flex;
    align-items: center;
    column-gap: 24px;
  }

  &__dislike {
    left: -5%;
  }

  &__like {
    right: -5%;
  }
}