.questionCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;

  &__text {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0 20px;
    align-self: center;
  }

  &__image {
    width: 288px;
    height: 288px;
    border-radius: 30px;
    position: relative;
  }

  &__dislike,
  &__like {
    position: absolute;
    top: 45%;
    width: 40px;
    height: 40px;
    background-color: var(--color-light-grey);
    padding: 8px;
    cursor: pointer;
  }

  &__dislike {
    left: -5%;
  }

  &__like {
    right: -5%;
  }
}