.container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 0 20px;
  transform: translate(-50%, -50%);
  background-color: transparent;
  z-index: 100;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  row-gap: 20px;
  border-radius: 10px;
  background: var(--background-02);
  box-shadow: 0 0 6px 0 rgba(90, 90, 90, 0.20);
}

@media (min-width: 760px) {
  .container {
    width: 500px;
  }
};
