.form input:-webkit-autofill,
.form input:-webkit-autofill:hover,
.form input:-webkit-autofill:focus,
.form input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  background-color: white !important;
  color: #212529;
}

.form,
.form__inputs,
.form__button {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form {
  row-gap: 40px;
  align-items: flex-start;

  &__inputs {
    row-gap: 24px;
  }

  &__button {
    row-gap: 12px;
  }
}

.forgotPassword {
  color: var(--text-03);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-decoration-line: underline;
  align-self: end;
}