.form input:-webkit-autofill,
.form input:-webkit-autofill:hover,
.form input:-webkit-autofill:focus,
.form input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  background-color: white !important;
  color: #212529;
}

.form,
.form__inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form {
  row-gap: 40px;
  align-items: flex-start;

  &__inputs {
    row-gap: 24px;
  }
}