.card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--color-white);
}

.card:hover {
	box-shadow: 0 2px 4px rgba(40, 41, 61, 0.04), 0 8px 16px rgba(96, 97, 112, 0.16);
}

.card:focus-within {
	box-shadow: 0 0 1px rgba(40, 41, 61, 0.16), 0 0.5px 2px rgba(96, 97, 112, 0.24);
}

.card__desc {
	font-size: 16px;
	padding-top: 14px;
	position: relative;
}

.card__image {
	width: 100%;
	object-fit: contain;
	margin-bottom: 16px;
	aspect-ratio: 1 / 1;
}

.card__name {
	font-size: 16px;
	line-height: 1.25;
}

.card__image {
	width: 100%;
	object-fit: contain;
	margin-bottom: 16px;
	aspect-ratio: 1 / 1;
}

.card__link {
	text-decoration: none;
	color: currentColor;
}

.button {
	margin-top: auto;
	font-size: 16px;
    line-height: normal;
}