.wrapper {
    width: 100%;
    height: 432px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url("../../modules/main-content/images/map-image.PNG"), lightgray 50% / cover no-repeat;
}