.settings {
  display: flex;
  flex-direction: column;
  row-gap: 26px;

  &__title {
    font-weight: 500;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
  }
}

.field {
  display: flex;
  flex-direction: column;

  &__input {
    padding: 12px;
    background: var(--color-input-grey);
    border: none;
  }
}