.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--background-02);
    width: 100%;
    box-shadow: 0 0 6px 0 rgba(90, 90, 90, 0.3);
}