.sort {
    display: flex;
    align-items: center;
    gap: 8px;

    &__title {
        font-family: "Nunito Sans", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: var(--text-01);
    }

    &__button {
        display: flex;
        align-items: center;
        background: transparent;
        border: none;
        cursor: pointer;

        &__icon_up {
            transform: rotate(180deg);
        }
    }
}
