.logo {
    position: relative;
    text-decoration: none; 

    &__text,
    &__title {
        font-family: "Nunito Sans", sans-serif;
        font-size: 20px;
        font-weight: 600;
    }

    &__text {
        color: var(--background-07);
        text-transform: uppercase;
    }

    &__title {
        color: var(--text-01);
    }

    h2 {
        margin: 0;
        padding: 16px;
    }
}

.back {
    position: absolute;
    top: 16px;
    left: 10px;
    cursor: pointer;
}

.back__icon {
    width: 24px;
    height: 24px;
}