.logo {
    position: relative;
    text-decoration: none; 

    &__text {
        font-family: "Nunito Sans", sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }

    h2 {
        margin: 0;
        padding: 16px;
        color: var(--background-07);
    }
}

.back {
    position: absolute;
    top: 16px;
    left: 10px;
    cursor: pointer;

    &__icon {
        width: 24px;
        height: 24px;
    }
}