.wrapper,
.button__drop {
  width: 100%;
  background-color: var(--background-02);
}

.wrapper,
.filters {
  display: flex;
  flex-direction: column;
}

.wrapper {
  padding: 24px 28px;
  height: calc(100vh - 58px);
  z-index: 100;
  position: fixed;
}

.filters {
  flex-grow: 1;
  gap: 20px;
  margin-bottom: 40px;
}

.button__drop {
  height: 50px;
  border: 1px solid var(--background-01)!important;
  border-radius: 10px;
}

.button__drop:disabled {
  background-color: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.25);
  border: 1px solid var(--button-disabled-color)!important;
}

@media (min-width: 760px) {
  .filters {
    width: 500px;
    margin: 0 auto;
  }

  .button__drop {
    max-width: 500px;
  }
}