.cards {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);	
	row-gap: 40px;
	column-gap: 16px;	
}

@media (max-width: 880px) {
	.cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 400px) {
	.cards {
		grid-template-columns: repeat(1, 1fr);
	}
}
