.tags__item {
    padding: 12px 20px;
    border-radius: 10px;
    background-color: var(--background-04);
    /* fonts */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    transition: background-color 0.15s;

    &_active {
        background-color: var(--background-tag);
    }    
}