.menu__button,
.container {
  width: 100%;
}

.container {
  position: sticky;
  left: 0;
  bottom: 0;
  z-index: 100;

  .menu {
    background: var(--background-02);
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 6px 0 rgba(90, 90, 90, 0.30);

    &__link_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
    }

    &__name {
      color: var(--background-03);
      font-size: 10px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;;

      &_filled {
        color: var(--background-06);
      }
    }

    &__wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      padding: 16px;

      &_spot {
        display: flex;
        padding: 14px 16px;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }
    }
  ;

    &__icon svg path {
      stroke: var(--background-03);
    }

    &__icon_filled svg path {
      stroke: var(--background-06);
    }
  }
}

.buttons__link_elem {
  width: fit-content;
}




