.rating {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  padding: 8px 12px;
  max-height: 36px;
  align-items: center;
  border-radius: 10px;
  background: var(--background-04);

  &__image {
    width: 16px;
    height: 16px;
  }

  &__value {
    font-family: "Nunito Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--background-01);
  }
}