.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: row;
}

.wrapper {
  max-width: 328px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  row-gap: 26px;
  padding: 26px 16px 86px 16px;
  margin: 0 auto;
}

.main__fav {
  cursor: pointer;
}

.main {
  column-gap: 20px;

  &__fav {
    display: flex;
    flex-direction: column-reverse;
    width: 154px;
    height: 154px;
    padding: 10px;
    background: var(--color-light-grey);
    text-decoration: none;
    color: var(--color-black);
  }

  &_text {
    font-weight: 500;
    align-items: end;
  }
}