.imagePopup,
.imagePopup__image {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}

.imagePopup {
  padding: 20px;

  &__title,
  &__button,
  &__button_green {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
  }

  &__text,
  &__button {
    font-size: 14px;
    line-height: 20px;
  }

  &__button,
  &__button_green {
    color: var(--text-02);
    background-color: var(--background-06);
    height: 51px;
    font-size: 14px;
    line-height: 20px;
  }

  &__title {
    font-size: 24px;
    color: var(--color-black);
  }

  &__image {
    width: 256px;
    height: 256px;
    background: var(--background-04);
    border-radius: 30px;
    overflow: hidden;

    &__userImage {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    color: var(--text-03);
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    margin: 0;
  }

  &__button {
    padding: 14px 32px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
  }
}