.wrapper {
    margin: 10px 0;

    .card__image {
        object-fit: cover;
        width: 100%;
    }
    
    .section {
        width: 100%;
        margin-bottom: 24px;
        
        &__title {
            font-size: 20px;
            margin-bottom: 12px;
        }
    
        .card__text_block{
            padding: 8px 0;
    
            .card__description{
                font-size: 16px;
            }
        }
    }
}

