.wrapper {
	position: relative;
	max-width: 328px;
}

.favorite {
	position: absolute;
	top: 20px;
	right:20px;
}

.card {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	gap: 12px;
	flex-direction: column;
	justify-content: space-between;
	aspect-ratio: 1 / 1;
	background-size: cover;
	background-color: var(--background-06);
	padding: 20px;
	border-radius: 30px;
	text-decoration: none;

	&__difficulty {
		color: var(--color-black);
		border-radius: 10px;
		background: rgba(251, 251, 251, 0.70);
		backdrop-filter: blur(4px);
		max-width: 108px;
		padding: 8px 28px;
		font-family: "Raleway", sans-serif;
		font-size: 12px;
		font-weight: 400;
		line-height: 20px;
}

	&__main {
		width: 100%;

		&__rating {
			display: block;
			right: 10px;
			font-weight: 600;
			margin-bottom: 8px;
		}

		&__name {
			color: var(--text-02);
			font-size: 20px;
			font-weight: 600;
		}
	}
}