.filters__item {
    display: flex;
    flex-direction: column;
    gap: 20px;


    .item__title {
        font-size: 20px;
    }

    .item__tags {

        display: flex;
        flex-wrap: wrap;
        gap: 12px;       
        
    }
}
